@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-image: url("https://images.pexels.com/photos/2676602/pexels-photo-2676602.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  /* This is what makes the background image rescale based
on the container’s size */
  background-repeat: no-repeat;
  /* Background image doesn’t tile */
  background-attachment: fixed;
  /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
  height: 100%;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
  text-align: center;
}

.input-group-prepend span {
  width: 50px;
  background-color: #e6dcb2;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #e6dcb2;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
